// GFs

.gform_button {
  @extend .modal-btn;
  @extend .btn-lg;
  @extend .btn-success;
}

// Globals

.modal-btn {
  width: 97.5%;
  border-radius: 4px;
  border: none;
  font-size: 18px!important;
  font-weight: lighter;
  padding: 14px;
  font-weight: 300;
  background-color: $dark-grey;
  margin: auto;
  display: block!important;
  &:hover {
    background-color: #fff;
    color: $brand-primary;
  }
  &:active {
    background-color: #fff;
    color: $brand-primary;
  }
  &:focus {
    background-color: #fff;
    color: $brand-primary;
  }
}
